.navbar-categories {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-category-link {
  display: flex;
  align-items: center;
  margin: 10px 15px; /* Zwiększone odstępy */
  padding: 5px 10px; /* Dodane dla lepszego wyświetlania */
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid transparent; /* Delikatna ramka, która stanie się widoczna przy hover */
  border-radius: 5px; /* Zaokrąglone rogi */
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.navbar-category-link svg {
  margin-right: 5px;
}

.navbar-category-link:hover {
  text-decoration: none; /* Usunięcie podkreślenia */
  border-color: #ccc; /* Delikatna ramka przy hover */
  background-color: rgba(255, 255, 255, 0.1); /* Lekkie podświetlenie tła */
}
